span.text-primary{color:#007bff!important}
p.tagline-cloud-rendering{color:#eaeaeac5;letter-spacing:1px}
.step .icon{transition:background-color .5s ease,transform .5s ease;background-color:transparent}
.step-content{transition:border .1s ease,transform .4s ease;padding:15px;border-radius:5px}
.step-content.active{opacity:1;transform:scale(1.05);box-shadow:0 6px 15px rgba(0,0,0,.2);border-radius:15px;transform:translateY(-5px)}
.step.active .icon{background-color:rgba(0,123,255,.3);transform:scale(1.1)}
.steps-card{border-radius:20px}
.nav-shadow{box-shadow:0 2px 15px rgb(0 0 0 / 5%)!important}
.nav-border{border-right:3px solid #007bff}
.nav-pills .nav-link{padding:20px;width:300px;height:100%;border:none;display:flex;flex-direction:row;align-items:center;background:#fff;color:#333;transition:all .3s}
.nav-pills .nav-link.active{background:-webkit-linear-gradient(30deg,#007bff,#007bff4b);background:-o-linear-gradient(30deg,#007bff,#007bff4b);background:linear-gradient(120deg,#007bff,#007bff4b);color:#fff;box-shadow:0 2px 15px rgb(0 0 0 / 10%)}
.nav-pills .nav-link{border-radius:0}